.edit-profile__form,
.edit-video__form {
  label {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    margin: 8px 0;
    display: block;
  }
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}

input:not(input[type="range"]) {
  width: 90%;
  border-radius: 4px;
}
