.video__data {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  .video__hashtags {
    font-size: 12px;
    color: rgb(22, 103, 255);
    margin-bottom: 3px;
  }
  .video__title {
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 500;
  }

  .video-mixin-views {
    font-size: 13px;
    color: $black;
    font-weight: 300;
  }
  .video__ViewCreate {
    margin: 5px 0;
  }
}

.video__createInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  .video__ownerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .video__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: rgb(66, 124, 220);
  }
  .video__owername {
    display: flex;
    flex-direction: column;
    a {
      color: $black;
      font-size: 16px;
      font-weight: bold;
    }
    .video__subscribe {
      font-size: 12px;
      color: rgb(121, 121, 121) !important;
      margin-top: 8px;
    }
  }
  .video__icons {
    margin-top: 5px;
    margin-left: 5px;
  }

  .video__icons i {
    margin: 0 5px;
    padding: 12px 12px;
    font-size: 16px;
    background-color: $btngrey;
    border-radius: 25px;
  }

  .video__icons a {
    margin: 0 5px;
    font-size: 16px;
  }
  .video__icons span {
    font-weight: bold;
    font-size: 15px;
    padding: 12px 0;
  }
}
.line {
  color: $btngrey;
  font-size: 25px !important;
  font-weight: lighter !important;
  margin: 0 5px;
}

.video__ownerComment {
  line-height: 1.4rem;
  font-size: 14px;
  background-color: $btngrey;
  width: 97.5%;
  padding: 15px;
  border-radius: 10px;
  .video-views,
  .video-createdAt {
    font-weight: bold;
  }
  .video__description {
    margin-top: 3px;
  }
}

.video__icons i:hover,
.video__ownerComment:hover {
  background-color: rgb(231, 231, 231);
}

.video__add-comments {
  margin-left: 10px;
  .video__comment-form {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
  }
  .video__comment-form__text {
    width: 600px;
    height: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.5);
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
  }
}

.video__comment-form__btn {
  appearance: none;
  border-radius: 4px;
  border: none;
  margin-left: 20px;
  font-size: 16px;
  background-color: rgb(89, 178, 255);
  padding: 10px 20px;
  color: #030303;
  cursor: pointer;
}

.video__comment {
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
  color: #ffffff;
  margin: 20px 0;
  i.fas.fa-xmark {
    margin-left: 20px;
  }
  .comment__owner {
    padding: 0 5px;
    font-size: 14px;
  }
  .comment__createdAt {
    padding: 0 5px;
    font-size: 13px;
    color: rgba($color: #ffffff, $alpha: 0.5);
  }
}

.video__comment__deleteBtn {
  margin-left: 10px;
  &:hover {
    cursor: pointer;
  }
}
