.video__data {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  .video__hashtags {
    font-size: 12px;
    color: rgb(22, 103, 255);
    margin-bottom: 3px;
  }
  .video__title {
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 500;
  }

  .video-mixin-views {
    font-size: 13px;
    color: $black;
    font-weight: 300;
  }
  .video__ViewCreate {
    margin: 5px 0;
  }
}

.video__createInfo {
  display: flex;
  margin-top: 6px;
  .video__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: rgb(66, 124, 220);
    float: left;
    display: flex;
  }
  .video__owername {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    a {
      color: $black;
      font-size: 16px;
      font-weight: bold;
    }
    .video__subscribe {
      font-size: 12px;
      color: rgb(121, 121, 121) !important;
      margin-top: 8px;
      margin-right: 490px;
    }
  }
  .video__icons {
    margin-top: 5px;
    margin-right: 5px;
  }
  .video__icons i {
    margin: 0 5px;
    padding: 10px 12px;
    font-size: 16px;
    background-color: $btngrey;
    border-radius: 25px;
  }
  .video__icons a {
    margin: 0 5px;
    font-size: 16px;
  }
  .video__icons span {
    font-weight: bold;
    font-size: 15px;
  }
}

.video__ownerComment {
  line-height: 1.4rem;
  font-size: 14px;
  background-color: $btngrey;
  width: 97.5%;
  padding: 15px;
  border-radius: 10px;
  .video-views,
  .video-createdAt {
    font-weight: bold;
  }
  .video__description {
    margin-top: 3px;
  }
}

.video__icons i:hover,
.video__ownerComment:hover {
  background-color: rgb(231, 231, 231);
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  .video__comment {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
    color: $black;
    margin-bottom: 10px;
  }
}
