.video__data {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  .video__hashtags {
    font-size: 12px;
    color: rgb(22, 103, 255);
    margin-bottom: 6px;
  }
  .video__title {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
  }

  .video-mixin-views {
    font-size: 13px;
    color: $black;
    font-weight: 300;
  }
  .video__ViewCreate {
    margin: 5px 0;
  }
}

.video__createInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  .video__ownerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .video__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: rgb(66, 124, 220);
  }
  .video__owername {
    display: flex;
    flex-direction: column;
    a {
      color: $black;
      font-size: 16px;
      font-weight: bold;
    }
    .video__subscribe {
      font-size: 12px;
      color: rgb(121, 121, 121) !important;
      margin-top: 8px;
    }
  }
  .video__icons {
    margin-top: 5px;
    margin-left: 5px;
  }

  .video__icons i {
    margin: 0 5px;
    padding: 12px 12px;
    font-size: 16px;
    background-color: $btngrey;
    border-radius: 25px;
  }

  .video__icons a {
    margin: 0 5px;
    font-size: 16px;
  }
  .video__icons span {
    font-weight: bold;
    font-size: 15px;
    padding: 12px 0;
  }
}

.line,
.sectionDivider {
  color: rgb(200, 200, 200);
  font-size: 25px !important;
  font-weight: lighter !important;
  margin: 0 5px;
}

.sectionDivider {
  border-bottom: $grey;
}

.video__ownerComment {
  line-height: 1.4rem;
  font-size: 14px;
  background-color: $btngrey;
  width: 97.5%;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  .video-views,
  .video-createdAt {
    font-weight: bold;
  }
  .video__description {
    margin-top: 3px;
  }
}

.video__icons i:hover,
.video__ownerComment:hover {
  background-color: rgb(231, 231, 231);
}

.comments__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: ivory;
}

.video__add-comments {
  .video__comment-form {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
  }
  .video__comment-form__text {
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $black;
    color: $black;
    font-size: 14px;
    line-height: 1.4rem;
  }
}

.video__comment-form__btn {
  all: unset;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  background-color: $btngrey;
  padding: 5px 15px;
  color: $black;
  font-weight: bolder;
  margin-left: 10px;
  height: 20px !important;
  width: 100px !important;
  cursor: pointer;
}
.video__comment-form__btn:hover {
  background-color: rgb(8, 94, 212);
  color: white;
}

.video__comments {
  width: 100%;
  margin-top: 20px;
}

.video__comment {
  line-height: 1.4rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
  color: $black;
  margin: 15px 0;
  .comments__commentyByAvatar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .comments__eachComment {
    margin-right: 15px;
  }
  .comment__owner {
    margin-right: 5px;
    font-size: 13px;
    font-weight: bold !important;
  }
  .comment__createdAt {
    font-size: 12px;
    color: rgb(130, 130, 130);
  }
}

.video__comment__deleteBtn {
}
