@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

header {
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    align-items: center;
    color: $red;
    i {
      font-size: 42px;
    }
    div {
      font-size: 34px;
      float: right;
      padding-left: 10px;
      color: $black;
      font-family: "Oswald", sans-serif;
    }
  }

  .search__form {
    max-width: 520px;
    margin: 0px 20px 0px 10px;
    box-shadow: none;
    background: none;
    display: flex;
    align-items: center;
    width: 100%;
    .search__bar {
      border-radius: 45px 0 0 45px;
      width: 77.2%;
      color: $black;
    }

    .search__btn {
      border: 1.2px solid rgb(200, 200, 200);
      border-radius: 0 45px 45px 0;
      background-color: rgb(244, 244, 244);
      color: $black;
      width: 60px;
      height: 36.5%;
      margin-top: -5px;
      cursor: pointer;
    }
    .search__btn:hover {
      background-color: rgb(233, 233, 233);
      transition: ease 0.4s;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 16px;
    }
  }
  .header__btn {
    background-color: $red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
