@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    align-items: center;
    color: $red;
    i {
      font-size: 42px;
    }
    div {
      font-size: 34px;
      float: right;
      padding-left: 10px;
      color: black;
      font-family: "Oswald", sans-serif;
    }
  }

  .search__form {
    border-radius: 45px 0 0 45px;
    max-width: 540px;
    margin: 0px 20px;
    box-shadow: none;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    justify-self: center;
    width: 100%;

    .search__btn {
      border: none;
      border-radius: 0 45px 45px 0;
      background-color: rgba(206, 204, 204, 0.907);
      color: rgba(255, 255, 255, 0.7);
      height: 28px;
      width: 60px;
      padding: 12px;
      cursor: pointer;
    }
    .search__btn:hover {
      background-color: rgba(0, 0, 0, 0.324);
      transition: ease 0.4s;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 16px;
    }
  }
  .header__btn {
    background-color: white;
    color: $bg;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
